USE [PADMINI]
GO
/****** Object:  Table [dbo].[COUNTER]    Script Date: 17/03/2021 09:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[COUNTER](
	[DATE] [datetime] NULL,
	[SHIFT] [varchar](50) NULL,
	[OK] [varchar](50) NULL,
	[NOK] [varchar](50) NULL,
	[BARCODE] [varchar](250) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SHIFT_TRAS]    Script Date: 17/03/2021 09:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SHIFT_TRAS](
	[AST] [datetime] NULL,
	[AE] [datetime] NULL,
	[BST] [datetime] NULL,
	[BE] [datetime] NULL,
	[CST] [datetime] NULL,
	[CE] [datetime] NULL,
	[DST] [datetime] NULL,
	[DE] [datetime] NULL,
	[XST] [datetime] NULL,
	[XE] [datetime] NULL,
	[YST] [datetime] NULL,
	[YE] [datetime] NULL,
	[INCCLUDED] [varchar](max) NULL,
	[SNAME] [varchar](max) NULL,
	[time] [varchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TRACEABILITY]    Script Date: 17/03/2021 09:28:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TRACEABILITY](
	[BARCODE_TRAC] [varchar](50) NULL,
	[BOM_TRAC] [varchar](50) NULL
) ON [PRIMARY]
GO
INSERT [dbo].[COUNTER] ([DATE], [SHIFT], [OK], [NOK], [BARCODE]) VALUES (CAST(N'2021-01-20T14:49:59.000' AS DateTime), N'A', N'1', N'0', N'')
INSERT [dbo].[COUNTER] ([DATE], [SHIFT], [OK], [NOK], [BARCODE]) VALUES (CAST(N'2021-01-20T14:49:59.000' AS DateTime), N'A', N'1', N'0', N'')
INSERT [dbo].[COUNTER] ([DATE], [SHIFT], [OK], [NOK], [BARCODE]) VALUES (CAST(N'2021-01-20T14:49:59.000' AS DateTime), N'A', N'1', N'0', N'')
GO
INSERT [dbo].[SHIFT_TRAS] ([AST], [AE], [BST], [BE], [CST], [CE], [DST], [DE], [XST], [XE], [YST], [YE], [INCCLUDED], [SNAME], [time]) VALUES (CAST(N'2018-01-01T07:00:00.000' AS DateTime), CAST(N'2018-01-01T15:00:00.000' AS DateTime), CAST(N'2018-01-01T15:00:00.000' AS DateTime), CAST(N'2018-01-01T23:00:00.000' AS DateTime), CAST(N'2018-01-01T23:00:00.000' AS DateTime), CAST(N'2018-01-01T07:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, N'false', N'D3', NULL)
INSERT [dbo].[SHIFT_TRAS] ([AST], [AE], [BST], [BE], [CST], [CE], [DST], [DE], [XST], [XE], [YST], [YE], [INCCLUDED], [SNAME], [time]) VALUES (CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-01-01T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, N'true', N'B13', NULL)
INSERT [dbo].[SHIFT_TRAS] ([AST], [AE], [BST], [BE], [CST], [CE], [DST], [DE], [XST], [XE], [YST], [YE], [INCCLUDED], [SNAME], [time]) VALUES (CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-01-01T00:00:00.000' AS DateTime), CAST(N'2018-01-01T00:00:00.000' AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL, N'true', N'B23', NULL)
INSERT [dbo].[TRACEABILITY] ([BARCODE_TRAC], [BOM_TRAC]) VALUES (N'true', N'true')
INSERT [dbo].[TRACEABILITY] ([BARCODE_TRAC], [BOM_TRAC]) VALUES (N'true', N'true')
